# MongoDB Database Configuration
MONGODB_URI="Enter your connection string"
MONGODB_DB="Enter your Database"
MONGODB_COLLECTION="Enter your collection"

# GIS Portal Credentials
VITE_ADNIM_USERNAME="Enter username"
VITE_ADMIN_PASSWORD="Enter password"
